################################################################################
# 이 .gitignore 파일은 Microsoft(R) Visual Studio에서 자동으로 만들어졌습니다.
################################################################################

/C_TextView/.vs/C_TextView/v15/Server/sqlite3/db.lock
